# Environment Variables
.env

# Virtual Environment
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Databases
db.sqlite3

# Media files
media/

# IDE / OS settings
.vscode/
.idea/
.DS_Store
Thumbs.db
