{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<nav class="w-full px-6 pt-6 font-mono">
    <div class="w-full flex items-center rounded-md justify-between bg-gray-100 px-6 py-2 shadow-4xl">

        <div class="flex gap-4">
            <a href="/panel/admin/" class="text-md hover:shadow-2xl hover:text-emerald-500 hover:shadow-emerald-500 font-semibold px-4 py-2 border-b-4 border-transparent hover:border-emerald-500 hover:bg-gray-200 transition">
                {% translate "Início" %} <i class="fa-solid fa-house"></i>
            </a>
            <a href="/panel/admin/projects/" class="text-md hover:shadow-2xl hover:text-emerald-500 hover:shadow-emerald-500 font-semibold px-4 py-2 border-b-4 border-transparent hover:border-emerald-500 hover:bg-gray-200 transition">
                {% translate "Projetos" %} <i class="fa-solid fa-puzzle-piece"></i>
            </a>
            <a href="/panel/admin/profile/" class="text-md hover:shadow-2xl hover:text-emerald-500 hover:shadow-emerald-500 font-semibold px-4 py-2 border-b-4 border-transparent hover:border-emerald-500 hover:bg-gray-200 transition">
                {% translate "Perfil" %} <i class="fa-solid fa-address-card"></i>
            </a>
            <a href="/panel/admin/experience/" class="text-md hover:shadow-2xl hover:text-emerald-500 hover:shadow-emerald-500 font-semibold px-4 py-2 border-b-4 border-transparent hover:border-emerald-500 hover:bg-gray-200 transition">
                {% translate "Experiência" %} <i class="fa-solid fa-briefcase"></i>
            </a>
            <a href="/panel/admin/formation/" class="text-md hover:shadow-2xl hover:text-emerald-500 hover:shadow-emerald-500 font-semibold px-4 py-2 border-b-4 border-transparent hover:border-emerald-500 hover:bg-gray-200 transition">
                {% translate "Formação" %} <i class="fa-solid fa-award"></i>
            </a>
            <a href="/panel/admin/collaborators/" class="text-md hover:shadow-2xl hover:text-emerald-500 hover:shadow-emerald-500 font-semibold px-4 py-2 border-b-4 border-transparent hover:border-emerald-500 hover:bg-gray-200 transition">
                {% translate "Colaboradores" %} <i class="fa-solid fa-users"></i>
            </a>
            <a href="/panel/admin/analytics/" class="text-md hover:shadow-2xl hover:text-emerald-500 hover:shadow-emerald-500 font-semibold px-4 py-2 border-b-4 border-transparent hover:border-emerald-500 hover:bg-gray-200 transition">
                {% translate "Analytics" %} <i class="fa-solid fa-chart-line"></i>
            </a>
        </div>

        <div class="flex justify-end gap-2 items-center">
            <form action="{% url 'set_language' %}" method="post" class="inline">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.path }}">
                <select name="language" onchange="this.form.submit()" class="bg-gray-100 hover:shadow-2xl focus:text-gray-900 hover:shadow-emerald-500 hover:text-emerald-500 px-3 py-2 border-b-4 border-transparent hover:border-emerald-500 font-semibold focus:outline-none hover:bg-gray-200 cursor-pointer">
                    <option value="pt-br" {% if LANGUAGE_CODE == 'pt-br' %}selected{% endif %}>PT-BR</option>
                    <option value="en" {% if LANGUAGE_CODE|slice:":2" == 'en' %}selected{% endif %}>EN</option>
                </select>
            </form>
            <form action="{% url 'logout' %}" method="post" class="inline">
                {% csrf_token %}
                <button type="submit" title="{% translate 'Sair' %}" class="w-16 p-2 hover:shadow-inner text-red-600 hover:bg-gray-200 cursor-pointer rounded-lg flex items-center justify-center">
                    <i class="fa-solid fa-person-walking-dashed-line-arrow-right text-lg"></i>
                </button>
            </form>
        </div>

    </div>
</nav>